body {
  background-image: url(https://cdn.discordapp.com/attachments/493099798258253858/671544791296901121/photo-lavender-flower-field-under-pink-sky-1166209.jpg);
}

.container {
  border: 7px solid #fff;
  width: 900px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .7);
}

.btn {
  margin: 20px;
  background-color: #40168c !important;
  border-color: #40168c !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #eb678a !important;
  border-color: #eb678a !important;
}

h1 {
  text-shadow: 0px 0px 10px #5F3BA4;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  text-align: center !important;
}

#centered {
  text-align: center;
}